.dashboard-container {
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.breadcrumb {
  font-size: var(--font-size-text-sm);
  color: var(--surface-400);
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2px;
}

.divider {
  margin: 0 0.5rem;
}

.batch {
  font-weight: var(--font-weight-semibold);
  color: var(--primary-color);
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-container h1 {
  font-size: var(--font-size-display-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--text-color-900);
  margin: 0;
}

.payor-name {
  font-size: var(--font-size-text-md);
  color: var(--text-color-secondary);
  padding-bottom: 1px;
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: #e9eaeb;
  margin-top: 16px;
}

.summary-cards {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.warning-actions-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .warning-actions-panel {
    flex-direction: row;
    align-items: center;
  }
}

.warning-text-container {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #f0f0ff;
  height: 48px;
  color: var(--primary-color);
  border-radius: 0.375rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.warning-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .action-buttons-container {
    flex-direction: row;
    margin-top: 0;
  }
}

.manual-import-btn,
.create-payment-btn {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.875rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.manual-import-btn {
    border: 1px solid #D5D7DA;
    color: #414651;
    background-color: white;
    height: 44px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.create-payment-btn {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color);
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.btn-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
