@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "primeicons/primeicons.css";

:root {
  /* Primary color*/
  --primary-color: #7F56D9;
  --primary-color-text: #ffffff;
  --p-checkbox-checked-background: var(--primary-color);
  --p-checkbox-checked-border-color: var(--primary-color);
  --p-checkbox-icon-color: #fff;
  --p-emerald-500: #7F56D9;
  --p-primary-500:#7F56D9 !important;
  --p-primary-600: #717680 !important;


  --text-color: #f0f0f0;
  --text-color-secondary: #717680;
  --text-color-900: #181D27;

  /* Surface color */
  --surface-0: #1a1a1a;
  --surface-50: #202020;
  --surface-100: #252525;
  --surface-200: #2e2e2e;
  --surface-300: #333333;
  --surface-400: #A4A7AE;
  --surface-500: #717680;
  --suface-600: #535862;
  --surface-700: #414651;

  /* Color state*/
  --payment-status-pending-approval-processing: #FFAD33;
  --payment-status-pending-aprproval-processing-bg: rgba(255, 247, 235, 1);
  --payment-status-pending-signature: #3B82F6;
  --payment-status-pending-signature-bg: rgba(234, 236, 240, 1);
  --payment-status-reprinted: #6966FF;
  --payment-status-reprinted-bg: rgba(240, 240, 255, 1);
  --payment-status-completed-mailed: #0D8A79;
  --payment-status-completed-mailed-bg: rgba(231, 249, 247, 1);
  --payment-status-rejected-voided: #EF4444;
  --payment-status-rejected-voided-bg: rgba(253, 236, 236, 1);
  --payment-status-disbursement: #33105C;
  --payment-status-disbursement-bg: rgba(235, 234, 252, 1);

  /* font size*/
  --font-size-text-xs: 0.75rem;
  --font-size-text-sm: 0.875rem;
  --font-size-text-md: 1rem;
  --font-size-text-lg: 1.125rem;
  --font-size-text-xl: 1.25rem;
  --font-size-display-sm: 1.5rem;

  /* font weight */
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  font-family: 'Inter', sans-serif;
}

.dark-mode-button {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
  font-weight: var(--font-weight-semibold) !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 8px;
}

html.app-dark {
    --text-color-900: #ffffff;
    --text-color: #f0f0f0;
    --text-color-secondary: #A4A7AE;
    --surface-0: #1a1a1a;
    --surface-50: #202020;
    --surface-100: #252525;

}
